body {
	font-family: Courier, 'Courier New', Courier, monospace;
    font-weight: bold;
    align-items: center;
    background-color: #000000d9;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.launchROM {
    font-family: monospace;
    font-size: 20px;
    width: 234px;
    height: 61px;
    border-radius: 15px;
    background-color: dodgerblue;
    cursor: pointer;
    box-shadow: inset 0 0 12px 3px white;
}

.launchROM:hover {
    background-color: rgb(171, 174, 177);
    cursor: pointer;
    box-shadow: 0 0 12px 3px rgb(212, 211, 211);
    
}
