

body {
	font-family: Courier, monospaced;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    background-color: #000000d9;
    width: 80vh;
    /* height: 100%; */
    overflow: hidden;
    margin: 0;
    touch-action: none;
    margin-bottom: 100px;
    max-height: 750px;
    /* position: absolute; */
    max-width: 400px;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	}

.off {
    display: none;
}

.GB-Wrapper {

    /* position: absolute; */
    /* margin: 0 auto; */
    justify-content: center;
    display: flex;
    width: 100vw;
    /* min-height: 880px; */
    /* max-height: 700px; */
    position: absolute;
    height: 89vh;
   z-index: 10;
   max-width: 400px;
   max-height: 750px;

}

.player-wrapper {
    
    height: 1px;
}

.powerButton {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 1rem;
    height: 1rem;

}

.GB-Wrapper img {
    left: 0px;
    width: 100%;
    /* min-height: 865px;
    max-height: 865px; */
    position: absolute;
    /* display: flex; */
    /* max-width: 445px;
    min-width: 445px; */
    /* width: 100vw; */
    height: 90vh;
    max-height: 750px;
    touch-action: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.player1 {
    position: relative;
    display: block;
    /* left: 37px;
    top: 66px; */
}
 

.glow {
    position: absolute;
    box-shadow: 0px 0px 20px 6px #a3d2ddb5;
    border-radius: 5px;
    width: 75vw;
    height: 29vh;
    z-index: 1000;
    left: 55px;
    top: 50px;
    /* display: none; */
  
}

.player-interaction {
    border: 1px solid red;
    /* margin-top: 481px; */
    position: absolute;
    z-index: 666;
    /* width: 424px; */
    /* height: 365px; */
    margin: 0 auto;
    display: none;
    /* top: 481px; */
}

.screen {
    border: 1px solid green;
    position: absolute;
    /* display: none; */
    justify-content: center;
    z-index: 9;
    width: 20%;
    height: 20%;
    display: none;

}

#nes-canvas {

    margin-left: 55px;
    margin-top: 13%;
    background: #000;
    position: relative;
    justify-content: center;
    /* min-height: 280px;
    max-height: 280px;
    min-width: 338px;
    max-width: 338px;  */
    width: 75vw;
    height: 29vh;
    max-width: 302px;
    max-height: 300px;
    }


.buttons-wrapper {

    /* top: -70px; */
    left: -10px;
    position: absolute;
    width: 90vw;
    /* max-width: 450px; */
    /* min-width: 450px; */
    max-height: 90%;
    min-height: 855px;
    bottom: 50px;
}

.PowerButton {
    background: transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid red;
    border-radius: 50%;
    display: block;
    justify-content: center;
    align-self: center;
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    /* left: 10px; */
    font-size: 10px;
    /* top: 491px; */
    bottom: 35.5%;
    left: 44%;
    
}



.UpButton {
    background: transparent;
    /* padding-bottom: 4px;
    font-size: 30px;
    font-weight: bold; */
    width: 45px;
    height: 55px;
    position: absolute;
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    z-index: 1000;
    text-align: center;
    /* left: 97px;
    top: 230px; */
    bottom: 31.7%;
    left: 77px;
}

.DownButton {
    background: transparent;
    /* padding-bottom: 4px; */
    /* font-size: 30px; */
    font-weight: bold;
    width: 45px;
    height: 55px;
    position: absolute;
    border: 1px solid red;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    z-index: 1000;
    text-align: center;
    /* left: 97px;
    top: 263px; */
    bottom: 16.8%;
    left: 77px;
}

.LeftButton {
    background: transparent;
    /* font-size: 30px;
    font-weight: bold; */
    width: 55px;
    height: 45px;
    position: absolute;
    border: 1px solid red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    z-index: 1000;
    text-align: center;
    /* left: 43px;
    top: 174px; */
    line-height: 0.8;
    /* padding-left: 3px; */
    bottom: 25%;
    left: 22px;
}

.RightButton {
    background: transparent;
    /* font-size: 30px;
    font-weight: bold; */
    width: 55px;
    height: 45px;
    position: absolute;
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    z-index: 1000;
    text-align: center;
    /* left: 131px;
    top: 139px; */
    line-height: 0.8;
    /* padding-left: 3px; */
    bottom: 25%;
    left: 121px;
}

.BButton {
    background: transparent;
    width: 70px;
    height: 70px;
    position: absolute;
    border: 1px solid red;
    border-radius: 50%;
    display: block;
    z-index: 1000;
    text-align: center;
    padding-top: 5px;
    /* left: 265px;
    top: 535px; */
    bottom: 22%;
    right: 98px;
}

.AButton {
    background: transparent;
    width: 70px;
    height: 70px;
    position: absolute;
    border: 1px solid red;
    border-radius: 50%;
    display: block;
    z-index: 1000;
    text-align: center;
    padding-top: 5px;
    /* left: 335px;
    top: 445px; */
    bottom: 24.5%;
    right: 30px;
}

.StartButton {
    background: transparent;
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    z-index: 1000;
    text-align: center;
    padding-top: 5px;
    /* left: 234px;
    top: 523px; */
    bottom: 10px;
    left: 51%;
    
}

.SelectButton {
    background: transparent;
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px solid red;
    border-radius: 50%;
    display: block;
    z-index: 999;
    text-align: center;
    padding-top: 5px;
    /* left: 156px;
    top: 583px; */
    bottom: 10px;
    left: 34%;
    display: flex;

}

